@import "reset.scss";
/*=====PAGE====*/
a {
    text-decoration: none;
    color: #000;
}
.wrapper {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}
@font-face {
    font-family: "Proxima Nova";
    src: url(/fonts/ProximaNova/ProximaNova-Reg.otf) format(opentype);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}
/*=====HEADER=====*/
.header {
    background-color: #f7c61d;
    height: 66px;
}
.menu {
    height: 100%;
    display: flex;
    align-items: center;
    &__items {
        display: flex;
        justify-content: space-between;
        &_left {
            width: 300px;
            margin-left: 70px;
        }
        &_right {
            width: 347px;
            margin-right: 23px;
        }
    }
    &__item {
        font-family: "Proxima Nova", sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        a:hover {
            color: #fff;
            text-shadow: -1px 1px 1px #000;
        }
    }
}
.logo {
    width: 430px;
    text-align: center;
}
/*=====MAIN=====*/
.main {
}
.title {
}
/*=Articles=*/
.articles {
}
.article {
    &__image {
    }

    &__text {
    }

    &__title {
    }

    &__info {
    }

    &__date {
    }

    &__author {
    }

    &__theme {
    }

    &__description {
    }

    &__views {
    }

    &__comments {
    }
}
.more-articles {
}
/*===Aside===*/
.aside {
}
.search-form {
}
/*=Calendar=*/
.calendar {
    &__upper-part {
    }

    &__arrow {
    }

    &__date {
    }

    &__table {
    }

    &__row {
    }

    &__header {
    }

    &__data {
        &_not-in-june {
        }

        &_today {
        }
    }
}
/*=News=*/
.news {
    &__title {
    }

    &__article {
    }

    &__date {
    }

    &__text {
    }
}
/*=====FOOTER=====*/
.footer {
    .menu {
        &__copy {
        }

        &__social {
        }

        &__fb {
        }

        &__tw {
        }

        &__gp {
        }
    }
}
